.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #232527fa;
    padding: 10px;
    border-radius: 16px;
}

.inputBox {
    flex-grow: 1;
    text-align: left;
}

.input {
    opacity: .95;
    background-color: #212326;
    font-size: 42px;
    line-height: 100%;
    padding-left: 8px;
    border-radius: 12px;
}

.valuePreview {
    font-size: 20px;
    color: #989898;
    padding-left: 8px;
}

.inputBadge {
    padding: 14px 8px;
    color: #191B1F;
    background-color: #F89007;
    border-radius: 10px;
    font-size: 20px;
}