.moreInformationBtn {
    position: absolute;
    left: 10%;
    top: 40%;
    width: 40px;
    height: 40px;
    transform: translate(0, -50%);
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.badge {
    margin: 0;
}

.subtitleHead {
    font-size: 38px;
}

.levelBox {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2E33;
    border-radius: 15px;
    padding: 5px 0 5px 30px;
    margin: 0 20px;
}

.levelImg {
    width: 20%;
    max-height: 100%;
    object-fit: contain;
}

.levelWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.levelsSection {
    display: flex;
    flex-direction: column;
    gap: .7vh;
}

.levelName {
    color: #F89007;
    font-size: 22px;
}

.levelGain {
    color: #989898;
    font-size: 19px;
}

.levelGainActive {
    color: white;
}

.level {
    min-width: 80px;
    background-color: #F89007;
    border-radius: 20px;
    color: black;
    padding: 5px 0;
}

@media (max-height: 600px) {
    .subtitle {
        margin-top: 10px;
    }

    .subtitleHead {
        font-size: 30px;
    }

    .badge {
        font-size: 16px;
    }
}