.button-container {
    /*position: absolute;*/
    /*bottom: 17px;*/
    display: flex;
    justify-content: space-between;
    background-color: #26272d;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-group {
    display: flex;
    gap: 50px;
}

.button-img {
    display: block;
    width: min(6vw, 30px);
}

.home-button_img {
    width: min(50px, 10vw);
}

.home-button {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    width: min(18vw, 80px);
    height: min(18vw, 80px);
    background-color: #f89007;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
