.headWrapper {
    position: relative;
    text-align: center;
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    margin: 0 30px 30px 30px;
}

.questionsContainer::-webkit-scrollbar-thumb {
    background-color: #F89007 !important;
}

.faqHeader {
    display: flex;
    background-color: #232527;
    border-radius: 16px;
    text-align: left;
    padding: 15px;
    list-style: none;
}

details[open] .faqHeader {
    border-radius: 16px 16px 0 0;
}

.marker {
    position: relative;
    display: inline-block;
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-color: #F89007;
    border-radius: 50%;
}

.marker::after {
    position: absolute;
    content: "+";
    line-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

details[open] .marker::after {
    content: "-";
}

.faqQuestion {
    font-size: 14px;
    max-width: calc(100% - 30px);
}

.faqAnswer {
    padding: 0 15px 10px;
    margin-bottom: 15px;
    font-size: 10px;
    background-color: #232527 !important;
    color: #989898;
    border-radius: 0 0 16px 16px;
    text-align: left;
}

.startTourBtn {
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: #232527;
    color: #F89007;
    border: #F89007 4px solid;
    border-radius: 50%;
    cursor: pointer;
}

.startTourBtn > svg {
    margin-top: -4px;
    vertical-align: middle;
    scale: 1.2;
}