.spinner {
    --g-color-line-brand: white;
    margin: 0 auto;
}

.topSection {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.topUser {
    align-self: flex-end;
    max-width: 80px;
}

.topUserBig {
    max-width: 100px;
}

.topUsername {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.userStatSection {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 5px 20px 0;
}

.userStatBox {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272A2F;
    border-radius: 17px;
    padding: 10px 15px;
}

.topListSection {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    margin: 10px 25px 0;
    min-height: 30vh;
}

.topLine {
    position: relative;
    display: flex;
    gap: 10px;
    background-color: #2a2c2f;
    border-radius: 10px;
    padding: 5px 0;
}

.topLineName {
    display: block;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: left;
}

.topLineCoins {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F89007;
    color: black;
    border-radius: 10px;
    padding: 6px 20px;
    font-size: 24px;
}
