.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 540px;
    height: 100vh;
    margin: 0 auto;
    background: url("background.jpg");
    background-size: 100% 100%;
}