.main-container {
    position: relative;
    max-width: 540px;
    height: 100vh;
    margin: 0 auto;
    background: url("background.jpg");
    background-size: 100% var(--tg-viewport-stable-height);
}