.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 60px);
    gap: 5px;
}

.numpadBtn {
    font-size: 42px;
    background-color: #212326;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

@media (max-height: 650px) {
    .numpad {
        gap: 3px;
        grid-template-rows: repeat(4, 50px);
    }

    .numpadBtn {
        font-size: 30px;
    }
}