.header {
    font-size: 50px;
    line-height: 50px;
    margin-top: 25px;
}

.inputSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 35px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #232527fa;
    padding: 10px;
    border-radius: 16px;
}

.inputBox {
    flex-grow: 1;
    text-align: left;
}

.input {
    opacity: .95;
    background-color: #212326;
    font-size: 42px;
    line-height: 100%;
    padding-left: 8px;
    border-radius: 12px;
}

.valuePreview {
    font-size: 20px;
    color: #989898;
    padding-left: 8px;
}

.inputBadge {
    padding: 14px 8px;
    color: #191B1F;
    background-color: #F89007;
    border-radius: 10px;
    font-size: 20px;
}

.arrowsContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    background-color: #F89007;
    padding: 10px;
    cursor: pointer;
}

.arrows {
    width: 100%;
    height: 100%;
}

.exchangeRateSection {
    margin: 0 32px;
    color: #989898;
}

.exchangeRateSection > span {
    display: inline-block;
    margin-top: 5px;
}

.line {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: #989898;
    opacity: .6;
}

.numpadWrapper {
    padding: 20px;
    background-color: #232527e6;
    border-radius: 16px;
    margin: 0 34px;
}

.confirmBtn {
    border-radius: 10px;
    background-color: #F89007;
    font-size: 16px;
    color: #191B1F;
    padding: 16px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.delIcon {
    width: 50%;
    height: 50%;
}

@media (max-height: 700px) {
    .header {
        font-size: 38px;
        line-height: 38px;
        margin-top: 15px;
    }

    .inputSection {
        gap: 6px;
    }

    .input {
        font-size: 20px;
    }

    .valuePreview {
        font-size: 16px;
    }

    .inputBadge {
        font-size: 16px;
    }

    .numpadWrapper {
        padding: 16px;
    }

    .confirmBtn {
        padding: 14px 12px;
        margin-top: 8px;
    }
}