.headerSubtitle {
    font-size:45px;
    line-height: 100%;
    margin-top: 8px
}

.time {
    font-size: 10px;
    color: #989898;
}

.withdrawSection {
    width: 80%;
    overflow-y: scroll;
    margin: 10px 45px;
    flex-grow: 0.9;
}

.withdrawElementWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    background: #232527E5;
    border-radius: 14px;
    padding: 6px 10px;
}

.userWrapper {
    color: #D5D5D5;
    font-size: 18px;
    border-radius: 12px;
    flex-grow: 1;
}

.userStats {
    width: auto;
    padding: 1px 3px;
    font-size: 12px;
    background: #212326CC;
    border-radius: 10px;
}

.amountBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191B1F;
    background-color: #F89007;
    line-height: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 13px;
}

.divideLine {
    background: #89858166;
    margin-top: 12px;
    height: 2px;
}

@media (max-height: 700px) {
    .headerSubtitle {
        font-size: 34px;
    }
}