.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F89007;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.avatarImg {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
