* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@supports not (overscroll-behavior: none) {
  body {
    width: 100vw;
    position: fixed;
    overflow: hidden;
  }
}

body {
  overscroll-behavior: none;
  height: 100vh;
  background-color: #232527;
}

.orange {
  color: #F89007
}