* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior: none;
}

.orange {
  color: #F89007
}