* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overscroll-behavior: none;
  touch-action: none;
}
