.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    font-size: 48px;
    margin-top: 12px;
}

.informationWrapper {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin: 20px 20px 10px;
}

.informationWrapper::-webkit-scrollbar-thumb {
    background-color: #F89007 !important;
}

.categoryHeader {
    display: flex;
    align-items: center;
    background-color: #232527;
    border-radius: 16px;
    text-align: left;
    text-transform: uppercase;
    padding: 15px 15px;
    list-style: none;
}

.marker {
    position: relative;
    display: inline-block;
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-color: #F89007;
    border-radius: 50%;
}

.marker::after {
    position: absolute;
    content: "+";
    line-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

details[open] .marker::after {
    content: "-";
}

details[open] .categoryHeader {
    border-radius: 16px 16px 0 0;
}

.categoryHeader svg {
    color: #F89007
}

.gridWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    justify-items: left;
    background-color: #1E2022;
    border-radius: 12px;
    padding: 15px 10px;
    margin: 0 10px 10px;
}

.categoryInformation {
    display: block;
    font-size: 10px;
    background-color: #232527 !important;
    border-radius: 0 0 16px 16px;
    padding: 10px 0;
}

.infoItem {
    font-size: 160%;
    line-height: 24px;
    color: #D5D5D5;
}

.gray {
    color: #989898;
}

.orange {
    color: #F89007;
}