.header {
    position: relative;
}


.faqLink {
    position: absolute;
    right: 5%;
    top: 1%;
}

.statisticContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px 30px 0;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #D5D5D5;
    font-size: 16px;
}

.lionImg {
    width: 100%;
    max-height: max(40vh, 250px);
    flex-shrink: 1;
    object-fit: contain;
}

.lionSection {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.badge {
    font-size: 20px;
}

.statisticBox {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 18px 22px 8px;
}

@media (max-height: 721px) {
    .value {
        font-size: 14px;
    }

    .badge {
        font-size: 14px;
    }

    .ethPriceBadge {
        font-size: 16px;
    }
    .dealProcessWrapper {
        font-size: 12px;
    }

    .statisticContainer {
        margin-top: 0;
    }

    .statisticBox {
        padding: 12px 18px 4px;
    }

    .lionImg {
        max-height: 38vh;
    }
}