.header {
    position: relative;
}


.faqLink {
    position: absolute;
    right: 5%;
    top: 1%;
}

.statisticContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px 30px 0;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #D5D5D5;
    font-size: 16px;
}

.profitArrow {
    width: 14px;
    height: 14px;

    transform: rotate(-45deg);
    vertical-align: middle;
}

.profitArrowFail {
    transform: rotate(45deg);
}

.lionImg {
    width: 100%;
    max-height: max(40vh, 250px);
    flex-shrink: 1;
    object-fit: contain;
}

.lionSection {
    display: flex;
    flex-direction: column;
}

.badge {
    font-size: 20px;
}

.statisticBox {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 18px 22px 8px;
}

.tourContainer {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100vh;

    border: none;

    z-index: 20;
}

.hole {
    position: absolute;
    transform: translate(-50%, -50%);

    background: transparent;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}



.startTourBtn {
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: #232527;
    color: #F89007;
    border: #F89007 4px solid;
    border-radius: 50%;
    cursor: pointer;
}

.startTourBtn > svg {
  margin-top: -4px;
  vertical-align: middle;
  scale: 1.2;
}

@media (max-height: 721px) {
    .value {
        font-size: 14px;
    }

    .badge {
        font-size: 14px;
    }

    .ethPriceBadge {
        font-size: 16px;
    }
    .dealProcessWrapper {
        font-size: 12px;
    }

    .statisticContainer {
        margin-top: 8px;
    }

    .statisticBox {
        padding: 12px 18px 4px;
    }

    .lionImg {
        max-height: 38vh;
    }

    .lionSection {
        margin-bottom: 15px;
    }
}